.panel-wrapper.panel-wrap {
    height: 100%;
    display: block;
    width: 100%;
    position: relative;
}
.feature-panel {
    background: url(/img/auth_background.jpg);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(/img/auth_background.jpg);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(/img/auth_background.jpg);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(/img/auth_background.jpg);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(/img/auth_background.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.3))),url(/img/auth_background.jpg);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(/img/auth_background.jpg);
    background-size: cover;
    width: 460px;
    min-height: 600px;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
}


.main-panel {
    height: 100%;
    overflow: auto;
    margin-left: 460px;
    position: relative;
    color: #5f697a;
}
.main-panel-table {
    display: table;
    width: 100%;
    height: 100%;
}
.main-panel-tabel-cell {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding-top: 100px;
    padding-bottom: 100px;
}

.main_login_content {
    clear: both;
    width: 90%;
    max-width: 540px;
    margin: 0 auto;
}
.auth_login_forms {
    background: #fff;
    position: relative;
    border: 1px solid rgba(0,0,0,0.07);
    border-radius: 2px;
    padding: 7px 12px 4px 12px;
    /*overflow: hidden;*/
}
.auth_input {
    border: none;
    box-shadow: none;
    padding: 6px 0px;
}
.auth_input:focus {
    border: none;
    box-shadow: none !important;
}
.login_text {
    font-size: 26px;
    font-weight: 300;
    color: #434C5F;
    margin-bottom: 10px;
}
.login_text_small {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 50px;
}
.auth_label{
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #434C5E;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.auth_forgot_pass {
    margin: 0px;
    margin-left: 56%;
    font-size: 12px;
    text-decoration: none;
    padding: 0px;
    color: #3380c0;
}

input.login_btn {
    border: 1px solid #279AF1;
    padding: 11px 39px;
    border-radius: 3px;
    background-color: #279AF1;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.logo{
    width: 300px;
    margin: 80% 15% 15% 5%;
}

.trans-bt{
       background: transparent;
    border-radius: 40px;
    border: 2px solid #fff;
    margin: 15% 20px;
    padding: 15px 90px;
    font-size: 18px;
    color: #fff;

}


.trans-bt:hover , .trans-bt:active{
    color: #fff;
    text-decoration: none;
}


input#in_file {
    display: none;
}
.inp_file {
    text-align: center;
}
label.pro_img {
    font-size: 11px;
    border-bottom: 1px dashed #324258;
    font-weight: 600;
    color: #324258;
    cursor: pointer;
}

.image-preview{
    background-size:cover;background-repeat: no-repeat; height: 100px;width:100px;margin-left: 8px;border-radius: 50px; background-color: #ccc;
    text-align: center;
    margin: auto;
}