.nav-style{
	height: 65px;
	left: 0px;
	top: 0px;
	background: #2A363E;
}

.nav-container{
	width: 100%;
	margin: 0px 20px 0px 20px;
}
.navbar-right{
	margin-right:  50px;
}
.nav-icon{
	width: 25px;
	margin: 5px;
}
.logo{
	width: 180px;
}

.main-container{
	margin-right: 0px;
	margin-left: 0px;
}

.side-bar{
	background: #FAFAFA;
	margin-top: 60px;
	position: fixed;
	width: 300px;
	height: 100%;
	z-index: 100;
	margin-left: -15px;
}

.main-content{
	background: #fff;
    margin-top: 60px;
    margin-left: 300px;
}

.side-bar-top{
	height: 70px;
	margin-top: 40px;
	margin-bottom: 30px;
}

.side-bar-top-details{
	float: left;
	margin-left: 15px;
	margin-top: 15px;
}


.side-bar-avatar{
	width: 60px;
    background: #C4C4C4;
    float: left;
    height: 60px;
    margin-left: 30px;
    border-radius: 40px;
}

.side-bar-name{
	font-weight: bolder;
	font-size: 15px;
}

.side-bar-usertype{
	font-weight: 400;
	font-size: 13px;
	font-weight: 600;

}

.side-bar-nav{
	list-style: none;
}

.side-bar-nav-item{
	padding: 10px 35px;
	margin: 10px;
}

.active-link{
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	border-radius: 2px;
	background: #fff;
}

.side-bar-nav-item  span{
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 14px;
	color: #596377;
}

.side-bar-usertype{
}

.side-bar-nav-item img{
	width: 20px;
	margin-right: 10px;
}

.side-bar-nav-item a{
	text-decoration: none;
}

.content{
	width: 100%;
}

.content-header{

	margin-top: 20px;
	margin-bottom: 15px;
	height: 70px;
}


.content-body{

	margin: 30px 15px 15px 15px;
}

.page-title{
	float: left;
	font-size: 20px;
	font-weight: 800;
	margin-top: 35px;
	margin-left: 15px;
}

.content-divider{

	height: 2px;
	width: 100%;
	background: #eee;
	margin-left: -15px;

}

.page-controls{
	float: right;
	margin-top: 30px;
	margin-right: 20px;
}

.assignment-card{
	margin: 15px;
    padding: 20px;
    border-radius: 3px;
    background-color: #FAFAFA;
    padding-bottom: 30px;
}

.content-div{
	margin: 15px;
}

.table>tbody>tr>td{
	padding: 10px;
	line-height: 1.8;
	vertical-align: top;
	color: #596377;
	text-decoration: none;
	border-top: none;
}

.table>thead{
	background-color: #e5e5e5;
}

 td > a, td > a:hover ,td > a:active{
	text-decoration: none;
	color: #596377;
}


.auth_login_forms {
    background: #fff;
    position: relative;
    border: 1px solid rgba(0,0,0,0.07);
    border-radius: 2px;
    padding: 7px 12px 4px 12px;
    /*overflow: hidden;*/
}
.auth_input {
    border: none;
    box-shadow: none;
    padding: 6px 0px;
}
.auth_input:focus {
    border: none;
    box-shadow: none !important;
}
.login_text {
    font-size: 26px;
    font-weight: 300;
    color: #434C5F;
    margin-bottom: 10px;
}
.login_text_small {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 50px;
}
.auth_label{
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #434C5E;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.auth_forgot_pass {
    margin: 0px;
    margin-left: 56%;
    font-size: 12px;
    text-decoration: none;
    padding: 0px;
    color: #3380c0;
}

button.save_btn {
    border: 1px solid #279AF1;
    padding: 11px 39px;
    border-radius: 3px;
    background-color: #279AF1;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: -15px;
}

.control_btn, .control_btn:hover {
    border: 1px solid #279AF1;
    padding: 11px 30px;
    border-radius: 3px;
    background-color: #fff;
    color: #279AF1;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: -15px;
    text-decoration: none;
    margin-left: 15px;
}

.control_btn_success, .control_btn_success:hover{
    border: 1px solid green;
    padding: 11px 30px;
    border-radius: 3px;
    background-color: #fff;
    color: green;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: -15px;
    text-decoration: none;
    margin-left: 15px;
}

.c-btn-sm, .c-btn-sm:hover, .c-btn-sm:active{
	padding: 5px 15px;
}

.modal-content{
	border-radius: 0px;
}

.widget-content{
  border-radius: 0px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0px 1px 1px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.stats-box{
  margin-top: 20px;
  margin-bottom: 20px;
}

.stat-box{
  padding: 15px;
  border-right: 2px #eee solid;
  color: #93A1B2;
  font-weight: 600;
  padding-left: 50px;

}

.stat-count{
  font-size: 45px;
}

.no-border{
  border-right: none;
}

.stat-name{
 text-transform: uppercase;
 white-space: normal;
 width: 3em;
 display: inline-block;
 margin-left: 10px;
 font-size: 13px;
}

.date-range{
  border: none;
  margin-top: 2px;
  display: inline-block;
  margin-left: 25px;
  width: 30%;
}

.long-label{
  display: inline-block;
  width: 75px;
}

.control-ex{
  background-color: #fff;
  padding: 3px;
  font-weight: 600;
  height: 35px;
  border: 1px solid #eee;
  box-shadow: none;
  border-radius: 3px;
}

.control-icon{
  margin: 5px;
  width: 15px;
  cursor: pointer;
}

.control-icon-btn{
  width: 13px;
  margin: 5px 10px 10px -15px;
}
.control-btn{
  width: 100px;
  font-weight: 600;

}

.top-filter{
  margin-left: -15px;
  margin-bottom: 15px;
  margin-right: -15px;
}

.rank-icon{
  width: 45px;
  background: #C4C4C4;
  float: left;
  height: 45px;
  border-radius: 40px;
  margin-right: 10px;
 }

input#in_file {
    display: none;
}
.inp_file {
    text-align: center;
}
label.pro_img {
    font-size: 11px;
    border-bottom: 1px dashed #324258;
    font-weight: 600;
    color: #324258;
    cursor: pointer;
}

.image-preview{
    background-size:cover;background-repeat: no-repeat; height: 100px;width:100px;margin-left: 8px;border-radius: 50px; background-color: #ccc;
    text-align: center;
    margin: auto;
}

.alert{
      float: left;
    margin-top: 25px;
    margin-left: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
}